body {
    margin: 0px;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    color: #202020;
    overflow-wrap: break-word;
}

.mainpage {
    padding: 20px;
}

.centrecolumn {
    min-width: 200px;
    max-width: 1000px;
    margin: 0px auto;
}

@media (min-width:400px) {
    .mainpage {
        padding: 40px;
    }
}

@media (min-width:700px) {
    .mainpage {
        padding: 70px;
        overflow-wrap: normal;
    }
}

h1, h2, h3, h4, h5, h6, p, ul, ol, table, div, input {
    font-family: inherit;
    font-weight: inherit;
}

h1 {
    font-size: 17px;
    text-transform: uppercase;
    margin: 17px 0px;
    text-align: center;
}

h2 {
    font-size: 17px;
    text-align: center;
    text-decoration: underline;
}

p {
    font-size: 14px;
    text-align: left;
}

@media (min-width:400px) {
    h1 {
        font-size: 22px;
        margin: 0em 0em 1em 0em;
    }
    h2 {
    }
    p {
        text-align: justify;
    }
}

@media (min-width:700px) {}

p strong {
    font-weight: normal;
}

a {
    color: #105ecc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.linklists {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.linklist {
    padding: 1em;
}

@media (min-width:700px) {
    .linklists {
        flex-wrap: wrap;
        max-height: 100vh;
    }

    .linklist {
        max-width: 15em;
    }
}

.linklist h2 {
    margin: 1em 0em;
}

.linklist p {
    margin: 0.5em 0em;
}